.video-player {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events: none;
}

.video-player video {
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: solid 2px #fff;
}

.video-player.show {
    opacity: 1;
    pointer-events: auto;
}

.hide {
    display: none;
}